<div class="ml-3">
  <h1>My tasks</h1>
  <br>
  <% @tasks.each do |task| %>
    <% if task.completed %>
      <div class="d-flex">
      </form> <p>âœ… <strong><%= link_to task.title, task_path(task) %></strong></p><%= link_to "ðŸ—‘ï¸", drop_path(task), method: :delete %>
      </div>
    <% else %>
      <div class="d-flex">
      <p>â­• <strong><%= link_to task.title, task_path(task) %></strong></p><%= link_to "ðŸ—‘ï¸", drop_path(task), method: :delete %>
      </div>
    <% end %>
  <% end %>
  <br>
  <%= link_to 'âž• create a new task', tasks_new_path %>
</div>
